

.button {
    font-size: 1.2rem; /* Adjust button font size */
    padding: 10px 20px; /* Adjust button padding */
    background-color: var(--accent-color); /* Use primary color from variables */
    color: var(--accent-dark-color); /* Button text color */
    border: 2px solid var(--accent-dark-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effects */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  }
  
  .button:hover {
    background-color: var(--accent-light-color); /* Change button color on hover */
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Shadow effect */
  }

  .button.active {
    background-color: var(--text-color);
    transform: scale(0.90);
    box-shadow: 0 0 5px rgba(14, 17, 82, 0.801); /* Shadow effect */
  }