/* landingPage.module.css */

.landing-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-page-background {
  z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/HeroBannerImageGroup6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 10, 102, 0.3); /* Adjust opacity here */
}

.hero-section {
  text-align: center;
  color: var(--light-gray); /* Adjust text color */
  position: relative;
  z-index: 1;
  padding: 50px; /* Add padding to adjust spacing */
}

.logo-image {
  width: 200px; /* Adjust logo size */
  height: auto;
  margin-bottom: 20px; /* Add margin to adjust spacing */
}

.hero-title {
  font-size: 3rem; /* Adjust title font size */
  margin-bottom: 20px; /* Add margin to adjust spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-description {
  font-size: 1.5rem; /* Adjust description font size */
  margin-bottom: 30px; /* Add margin to adjust spacing */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


